---
const { title, date, description, github, demo } = Astro.props;
---

<div class="project-card">
  <h3>{title}</h3>
  <p class="date">{date}</p>
  <p>{description}</p>

  <div class="buttons">
    <a href={github} target="_blank">GitHub</a>
    <a href={demo} target="_blank">Ver demo</a>
  </div>
</div>
